  @import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600");

.gmnoprint img {
    max-width: none; 
}
#map{
    height: 100%;
    width: 100%;
}
#titleText{
            color:darkcyan;
        }
        
        .wrapper img{
            
            border-radius: 50%
                
        }

        
   h1, h2, h3, h4, h5, h6 {
        font-family: "Catamaran", sans-serif;
        font-weight: 600;
     
        }

    img{
            display: none;
            align-content: center;
            width: 100%;
            height: auto;
            z-index: 1;
            border: none;
            display: block;
            margin: 0 auto;
        }
        
        .logo-div{
            background-color: #3B88C3;
            
        }
        .jumbotron{
            padding-top: 100px;
            background-image: url(images/contactus.jpeg);
        
            background-size: cover;
            background-position: center right;
            height: 400px;  
        }
        
        .carousel-item{
            width: 100%;
            height: 400px;
                     
        }
        .carousel-item img{
            
            margin-top: 50px; 
            background-size: cover;
            background-position: center top;
           
        }
        
        h1{
            font-size: 85px;
            text-align: left;
            vertical-align: middle;
            
        }

        .center_div{
            margin: 0 auto;
            width: 100%;
        }
        
        .carousel-caption{
            position: absolute;
            top: 100px;
            height: 450px;
           /* background: linear-gradient(to right, rgba(0,0,0,0.5), transparent 90%);*/
        }

        /* overlay for better readibility of the caption  */

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.25;
            transition: all 0.2s ease-out;
            top: 10px;
            /*background: linear-gradient(to right, rgba(0,0,0,0.5), transparent 90%);*/
        }

        .overlay-2 {
            position: absolute;
            width: 100%;
            height: 400px;
            background: #000;
            opacity: 0.25;
            transition: all 0.2s ease-out;
            top: 0px;
        }


.contact-text{
    top: 50px;
    color:white;
}


/*=================================================================
  About us 2 section
==================================================================*/
.about-2 {
  /*background: #F7F7F7;*/
    background: white;
    
}

.about-2 .checklist {
  padding-left: 30px;
}

.about-2 .checklist li {
  position: relative;
  margin-bottom: 15px;
  font-size: 16px;
  color: #777;
  font-family: "Source Sans Pro", sans-serif;
}

.about-2 .checklist li:before {
  position: absolute;
  margin-right: 12px;
  margin-left: -45px;
  content: "\f375";
  font-family: "themefisher-font";
  opacity: 1;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 20px;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 40px 0;
}

.title {
    padding-top:0px;    
  padding-bottom: 50px;
  overflow: hidden;
}

.title h2 {
  font-weight: 600;
  font-size: 35px;
  color: #232323;
}

.title p {
  color: #848484;
  width: 50%;
  margin: 0 auto;
}

.title.title-white h2 {
  color: #fff;
}

.border {
  height: 2px;
  margin: 20px auto 20px;
  position: relative;
  width: 80px;
  background: #28ABE3;
}


.section{
    text-align: center;
}

/*=================================================================
  Services section 2
==================================================================*/
.service-2 .service-item {
  border: 1px solid #eee;
  margin-bottom: 30px;
  padding: 50px 20px;
  transition: all 0.3s ease 0s;
  
}

.service-2 .service-item:hover {
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
}

.service-2 .service-item:hover i {
  background: #fff;
  color: #28ABE3;
}

.service-2 .service-item i {
  font-size: 30px;
  display: inline-block;
  background: #28ABE3 none repeat scroll 0 0;
  border-radius: 30px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 55px;
  line-height: 55px;
  margin-bottom: 20px;
  width: 55px;
  transition: all 0.3s ease 0s;
}

.about-2 .service-item {
  border: 1px solid #eee;
  margin-bottom: 30px;
  padding: 50px 20px;
  transition: all 0.3s ease 0s;
}

.about-2 .service-item:hover {
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
}

.about-2 .service-item:hover i {
  background: #fff;
  color: #28ABE3;
}

.about-2 .service-item i {
  font-size: 30px;
  display: inline-block;
  background: #28ABE3 none repeat scroll 0 0;
  border-radius: 30px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 55px;
  line-height: 55px;
  margin-bottom: 20px;
  width: 55px;
  transition: all 0.3s ease 0s;
}